@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.checkbox input {
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    max-width : 200px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 20px;
}

.links p {
    margin: 10px 0;
}

.links a {
    display: block;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #f1f1f1;
    color: #333;
}

.btn-secondary:hover {
    background-color: #ddd;
}

.btn-link {
    background-color: transparent;
    color: #007bff;
}

.btn-link:hover {
    text-decoration: underline;
}

.social-login {
    margin-top: 20px;
}

.btn-kakao {
    background-color: #ffeb00;
    color: #3c1e1e;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.btn-apple {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
